*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.productPanel{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}


.productPanel .heading{
    height: 7vh;
    width: 100%;
    border-bottom: 1px solid white;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: white;

    }
.productPanel .productCategory{
    height: 89vh;
    width: 7%;
    background-color: white;
    padding: 5px 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    
    }

.productPanel .products{
    height: 89vh;
    width: 91%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    }

.productPanel .productCategory .product{
   height: 100px;
   width: 100%;
   border-radius: 5px;
   background-color: white;
   display: flex;
   flex-direction: column;
    align-items: center;
    
}
.productPanel .productCategory .product img{
 min-width: 100%;
 aspect-ratio: 1;
 padding: 4px;
    }

.productPanel .productCategory .product  p{
    font-size: smaller;
    text-align: center;
}