*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    height: 80%;
    width: 60%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap:10px
    
}

section .head{
    width: 100%;
    height: 20%;
    background-color: greenyellow;
    border: 1px solid;
}
section .box1{
    height: 60%;
    width: 25%;
    background-color: greenyellow;
    border: 1px solid;
}
section .box2{
     height: 30%;
     
}