*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80%;
    width: 60%;
    background-color: aliceblue;
    display: grid;
    gap:10px;
    grid-template-rows: 5;
    grid-template-columns: 4;
}

.box1{
    background-color: greenyellow;
    width: 100%;
    border: 1px solid;
    grid-column-start: 1;
     grid-column-end: 4;
}