<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.jsp.Car" >

        <constructor-arg name="car_company" value="Tesla"/>
        <constructor-arg name="car_color" value="Z-Black"/>
        <constructor-arg name="car_price" value="899998.22d"/>

    </bean>



</beans>