*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #fcfafa;
    
}
header{
    background-color: #adb0ad;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 25px 60px;    
    height: 10vh;
   
}
.stick{
     position: sticky;
        top: 0;
     
}
header ul{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
header ul li {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

header ul li a{
    font-size: 20px;
    text-decoration: none;
    display: flex;
    gap: 30px;
    color: black;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    height: 90vh;
    width: 100%;
    background-color: #fcfafa;
    

}

.left-side{
    display: flex;
    flex-direction: column;
    
    text-align: left;
    gap: 30px;
}

.left-side h1{
    font-size: 50px;
    color: black;
}
.left-side p{
    font-size: 20px;
    color: black;
}
.left-side button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    cursor: pointer;
}
.right-side img{
    height: 70vh;
    border-radius: 40%;
}

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}
.project .box{
    width: 40%;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:rgb(30, 212, 151);
}
.project .box img{
    width: 80%;
    height: auto;
    border-radius: 20px;
}

.table-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.table-section table{
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}
.table-section th, .table-section td{
    border: 1px solid black;
    padding: 10px;
}
.table-section th{
    font-size: 22px;
    color: black;
}
section  {
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
  
    padding: 10px 30px;
}
ol li{
    margin-left: 20px;
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: auto;
    align-items: center;
}
form input, form textarea{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid black;
    width: 400px;
}
form button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    cursor: pointer;
}
.login{
    height: 60vh;
}
.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; 
    width: 40%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgba(54, 107, 107, 0.797);
}
footer{
    background-color: #000000;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 10px;
   
    bottom: 0;
    width: 100%;
}
footer ul{
    padding: 20px;
 list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}
footer ul li a{
    font-size: 18px;
    text-decoration: none;
    display: flex;
    gap: 10px;
    color: white;
}

.top-btn{
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    padding: 30px 20px;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
    background-color: #ffffff;
}
 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}