body{
    width: 100%;
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 70%;
    height: 80%;
    background-color: aliceblue;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 5;
    gap:10px;
    padding: 4px;
}
.items{
    border: 1px solid black;
    background-color: goldenrod;
    
}
.item1{
    grid-row-start: 1;
    grid-row-end: 3;

}
.item2{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item3{
    grid-column-start: 4;
    grid-column-end: 6;
}

.item44{
     grid-row-start: 2;
    grid-row-end: 4; 
    grid-column-start: 2;
    grid-column-end: 3; 
    background-color: rgb(88, 142, 190);
}
.item4{
     grid-row-start: 2;
    grid-row-end: 4; 
       grid-column-start: 3;
    grid-column-end: 5; 
    background-color: rgb(88, 142, 190);
}
.item5{
     grid-row-start: 2;
    grid-row-end: 5; 
       grid-column-start: 5;
    grid-column-end: 5; 
}

.item6{
       grid-row-start: 3;
    grid-row-end: 5;
      grid-column-start: 1;
    grid-column-end: 2; 
}

.item7{
       grid-row-start: 4;
    grid-row-end: 5;
      grid-column-start: 2;
    grid-column-end: 4; 
}