*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 80%;
    background-color: aliceblue;
    display: grid;
    /* grid-template-columns: 100px 100px 100px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr 2fr 1fr;
    gap:20px;
}
.box{
    background-color: greenyellow;
    border: 1px solid gainsboro;
}